@import "../../themes/variable";
@import "../../base/components/components";

body.no-scroll {
  @media only screen and (max-width: 1199.98px) {
    overflow: hidden;
  }
}

#main {
  position: relative;
  transition: 0.5s;
  .header {
    position: absolute;
    z-index: 5;
    width: 100%;
    animation: fadeIn 0.5s;
    transform: translateY(0);
    transition: all 0.5s;
    background-color: $bg-transparent;
    @media only screen and (max-width: 1199.98px) {
      // height: 100%;
      // width: 100%;
      background-color: $bg-transparent;
    }
    .container {
      @media only screen and (max-width: 1199.98px) {
        background-color: $bg-light;
      }
      .navbar {
        width: 100%;
        padding: 0 !important;
        background-color: $bg-transparent;
        height: 80px;
        @media only screen and (max-width: 1199.98px) {
          position: relative;
          width: 100%;
          height: 48px !important;
          text-align: center;
        }
        .navbarLogo {
          img {
            width: 80px;
            @media only screen and (max-width: 1199.98px) {
              position: absolute;
              width: 48px;
              height: 100%;
              top: 0;
              left: 40px;
            }
          }
        }
        .navbarLogo.show {
          @media only screen and (max-width: 1199.98px) {
            display: none !important;
            img {
              width: 80px;
              @media only screen and (max-width: 1199.98px) {
                position: absolute;
                width: 48px;
                height: 100%;
                top: 0;
                left: 40px;
              }
            }
          }
        }
        .navbarCollapse {
          display: flex;
          align-items: center;
          width: 100%;
          @media only screen and (max-width: 1199.98px) {
            display: none;
          }
          .navbarNav {
            margin-left: 260px;
            margin-right: 0 !important;
            margin-bottom: 0;
            list-style: none;
            @media only screen and (max-width: 1280px) {
              margin-left: 269px;
            }
            @media only screen and (max-width: 1260px) {
              margin-left: 240px;
            }
            @media only screen and (max-width: 1240px) {
              margin-left: 210px;
            }
            .navItem {
              padding-right: 50px;
              .navLink {
                @include text($text-s, $text-semibold, $text-c1-dark);
                &:hover {
                  color: $text-c1-pink;
                  text-decoration: none;
                }
              }
              .navLink.nav-circle {
                display: inline-block;
                .circle {
                  position: absolute;
                  &::before {
                    content: "";
                    position: absolute;
                    z-index: 100;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background-color: $bg-pink;
                    top: 49px;
                    left: -26px;
                    transition: 0.3s;
                  }
                  &:hover::before {
                    transform: scale(1.2, 1.2);
                  }
                }
              }
            }
          }
          .form-inline {
            overflow: hidden;
            width: 30%;
            // margin-left: 14px;
            .nav-phone {
              @extend .btn;
              position: relative;
              line-height: 1;
              overflow: hidden;
              z-index: 1;
              margin-left: 0 !important;
              &::before {
                content: "";
                position: absolute;
                background-color: $bg-light;
                border-radius: $br-button;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0.7, 0);
                transition: all 0.3s ease;
              }
              &:hover {
                color: $text-c1-pink;
              }
              &:hover::before {
                z-index: -1;
                transform: scale(1, 1);
              }
            }
            .nav-socials {
              margin-left: 7px;
              a {
                @include text($text-xs, $text-regular, $text-c1-dark);
                margin-left: 7px;
                &:hover {
                  color: $text-c1-pink;
                }
              }
            }
          }
        }
        .navToggle {
          display: none;
          @media only screen and (max-width: 1199.98px) {
            display: inline-block;
            width: 25px;
            height: 25px;
            border: none;
            background-color: $bg-transparent;
            cursor: pointer;
            &:focus,
            &:focus-visible {
              outline: none;
            }
            &:hover::before {
              transform: translateY(-2px);
              background-color: $bg-pink;
            }
            &:hover::after {
              transform: translateY(2px);
              background-color: $bg-pink;
            }

            &::before {
              content: "";
              position: absolute;
              @include toggle(25px, 2px, 14px, 0, $bg-dark);
              transition: all 0.5s ease;
            }
            &::after {
              content: "";
              position: absolute;
              @include toggle(25px, 2px, 32px, 0, $bg-dark);
              transition: all 0.5s ease;
            }
            span {
              display: inline-block;
              width: 27px;
              padding: 12px;
              &:focus-visible {
                outline: none;
              }
              &:hover::before {
                background-color: $bg-pink;
              }
              &::before {
                content: "";
                position: absolute;
                display: inline-block;
                @include toggle(25px, 2px, 46%, 0, $bg-dark);
                transition: all 0.5s;
              }
            }
          }
        }
        .navToggle.show {
          @media only screen and (max-width: 1199.98px) {
            width: 25px;
            height: 25px;
            border: none;
            background-color: $bg-transparent;
            cursor: pointer;
            &:focus,
            &:focus-visible {
              outline: none;
            }
            &:hover::before {
              background-color: $bg-pink;
            }
            &:hover::after {
              background-color: $bg-pink;
            }
            @media only screen and (max-width: 1199.98px) {
              &::before {
                content: "";
                position: absolute;
                @include toggle(25px, 2px, 26px, 0, $bg-dark);
                transform: rotate(45deg);
                transition: all 0.5s ease;
              }
              &::after {
                content: "";
                position: absolute;
                @include toggle(25px, 2px, 26px, 0, $bg-dark);
                transform: rotate(-45deg);
                transition: all 0.5s ease;
              }
            }
            span {
              @media only screen and (max-width: 1199.98px) {
                display: none;
                width: 27px;
                &:focus-visible {
                  outline: none;
                }
                &:hover::before {
                  background-color: $bg-pink;
                }
                &::before {
                  content: "";
                  position: relative;
                  display: inline-block;
                  @include toggle(25px, 2px, -7px, -1px, $bg-dark);
                  transition: all 0.5s;
                }
              }
            }
          }
        }
        .navClose {
          display: none;
          @media only screen and (max-width: 1199.98px) {
            display: none;
            position: relative;
            @include text($text-l, $text-semibold, $text-c1-dark);
            top: 4px;
            left: -7px;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              color: $text-c1-pink;
            }
          }
          #minus1 {
            position: absolute;
            top: -16px;
            left: -16%;
            transform: rotate(0);
          }
          #minus2 {
            position: absolute;
            bottom: -9px;
            left: -16%;
            transform: rotate(0);
          }
        }
      }
    }
  }

  .header-sub {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 48px;
    animation: fadeInDown 0.5s;
    animation-fill-mode: forwards;
    top: -49px;
    transition: all 0.5s;
    background-color: $bg-light;
    box-shadow: $bs-header;
    @media only screen and (max-width: 1199.98px) {
      // height: 100%;
      // width: 100%;
      background-color: $bg-light;
    }
    .container {
      @media only screen and (max-width: 1199.98px) {
        background-color: $bg-light;
      }
      .navbar {
        width: 100%;
        padding: 0 !important;
        background-color: $bg-transparent;
        height: 48px;
        @media only screen and (max-width: 1199.98px) {
          position: relative;
          width: 100%;
          height: 48px !important;
          text-align: center;
        }
        .navbarLogo {
          @media only screen and (min-width: 1200px) {
            display: none;
          }
          img {
            width: 80px;
            @media only screen and (max-width: 1199.98px) {
              position: absolute;
              width: 48px;
              height: 100%;
              top: 0;
              left: 40px;
            }
          }
        }
        .navbarLogo.show {
          @media only screen and (max-width: 1199.98px) {
            display: none !important;
            img {
              width: 80px;
              @media only screen and (max-width: 1199.98px) {
                position: absolute;
                width: 48px;
                height: 100%;
                top: 0;
                left: 40px;
              }
            }
          }
        }
        .navbarCollapse {
          display: flex;
          align-items: center;
          width: 100%;
          @media only screen and (max-width: 1199.98px) {
            display: none;
          }
          .navbarNav {
            margin-left: 260px;
            margin-right: 0 !important;
            margin-bottom: 0;
            list-style: none;
            @media only screen and (max-width: 1280px) {
              margin-left: 320px;
            }
            @media only screen and (max-width: 1260px) {
              margin-left: 300px;
            }
            @media only screen and (max-width: 1220px) {
              margin-left: 279px;
            }
            .navItem {
              padding-right: 50px;
              .navLink {
                @include text($text-s, $text-semibold, $text-c1-dark);
                &:hover {
                  color: $text-c1-pink;
                  text-decoration: none;
                }
              }
              .navLink.nav-circle {
                display: inline-block;
                .circle {
                  position: absolute;
                  &::before {
                    content: "";
                    position: absolute;
                    z-index: 100;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background-color: $bg-pink;
                    top: 33px;
                    left: -26px;
                    transition: 0.3s;
                  }
                  &:hover::before {
                    transform: scale(1.2, 1.2);
                  }
                }
              }
            }
          }
          .form-inline {
            overflow: hidden;
            width: 30%;
            // margin-left: 14px;
            .nav-phone {
              @extend .btn;
              padding: 10px 20px;
              position: relative;
              line-height: 1;
              overflow: hidden;
              z-index: 1;
              margin-left: 0 !important;
              &::before {
                content: "";
                position: absolute;
                background-color: $bg-light;
                border-radius: $br-button;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0.7, 0);
                transition: all 0.3s ease;
              }
              &:hover {
                color: $text-c1-pink;
              }
              &:hover::before {
                z-index: -1;
                transform: scale(1, 1);
              }
            }
            .nav-socials {
              margin-left: 7px;
              a {
                @include text($text-xs, $text-regular, $text-c1-dark);
                margin-left: 7px;
                &:hover {
                  color: $text-c1-pink;
                }
              }
            }
          }
        }
        .navToggle {
          display: none;
          @media only screen and (max-width: 1199.98px) {
            display: inline-block;
            width: 25px;
            height: 25px;
            border: none;
            background-color: $bg-transparent;
            cursor: pointer;
            &:focus,
            &:focus-visible {
              outline: none;
            }
            &:hover::before {
              transform: translateY(-2px);
              background-color: $bg-pink;
            }
            &:hover::after {
              transform: translateY(2px);
              background-color: $bg-pink;
            }

            &::before {
              content: "";
              position: absolute;
              @include toggle(25px, 2px, 14px, 0, $bg-dark);
              transition: all 0.5s ease;
            }
            &::after {
              content: "";
              position: absolute;
              @include toggle(25px, 2px, 32px, 0, $bg-dark);
              transition: all 0.5s ease;
            }
            span {
              display: inline-block;
              width: 27px;
              padding: 12px;
              &:focus-visible {
                outline: none;
              }
              &:hover::before {
                background-color: $bg-pink;
              }
              &::before {
                content: "";
                position: absolute;
                display: inline-block;
                @include toggle(25px, 2px, 46%, 0, $bg-dark);
                transition: all 0.5s;
              }
            }
          }
        }
        .navToggle.show {
          @media only screen and (max-width: 1199.98px) {
            width: 25px;
            height: 25px;
            border: none;
            background-color: $bg-transparent;
            cursor: pointer;
            &:focus,
            &:focus-visible {
              outline: none;
            }
            &:hover::before {
              background-color: $bg-pink;
            }
            &:hover::after {
              background-color: $bg-pink;
            }
            @media only screen and (max-width: 1199.98px) {
              &::before {
                content: "";
                position: absolute;
                @include toggle(25px, 2px, 26px, 0, $bg-dark);
                transform: rotate(45deg);
                transition: all 0.5s ease;
              }
              &::after {
                content: "";
                position: absolute;
                @include toggle(25px, 2px, 26px, 0, $bg-dark);
                transform: rotate(-45deg);
                transition: all 0.5s ease;
              }
            }
            span {
              @media only screen and (max-width: 1199.98px) {
                display: none;
                width: 27px;
                &:focus-visible {
                  outline: none;
                }
                &:hover::before {
                  background-color: $bg-pink;
                }
                &::before {
                  content: "";
                  position: relative;
                  display: inline-block;
                  @include toggle(25px, 2px, -7px, -1px, $bg-dark);
                  transition: all 0.5s;
                }
              }
            }
          }
        }
        .navClose {
          display: none;
          @media only screen and (max-width: 1199.98px) {
            display: none;
            position: relative;
            @include text($text-l, $text-semibold, $text-c1-dark);
            top: 4px;
            left: -7px;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              color: $text-c1-pink;
            }
          }
          #minus1 {
            position: absolute;
            top: -16px;
            left: -16%;
            transform: rotate(0);
          }
          #minus2 {
            position: absolute;
            bottom: -9px;
            left: -16%;
            transform: rotate(0);
          }
        }
      }
    }
  }

  // .header-open {
  //   transform: translateY(0);
  // }

  .header.header-close {
    .container {
      .navbar {
        animation: fadeInDown 0.5s;
      }
    }
  }

  .about {
    position: relative;
    width: 100%;
    padding-bottom: 60px;
    .container {
      padding-top: 65px;
      .about-left {
        width: 50%;
        margin-top: 17%;
        padding: 0;
        opacity: 0;
        animation: fadeInLeft 0.3s linear 0.2s;
        animation-fill-mode: forwards;
        @media only screen and (max-width: 991.98px) {
          margin-top: 47px;
          z-index: 2;
        }
        h6 {
          @include text($text-h6-base, $text-semibold, $text-c1-pink);
        }
        h1 {
          @include text($text-h1-l, $text-bold, $text-c1-dark);
        }
        @media only screen and (max-width: 1199.98px) {
          h6 {
            @include text($text-base, $text-semibold, $text-c1-pink);
          }
          h1 {
            @include text($text-h1-base, $text-bold, $text-c1-dark);
          }
        }
        @media only screen and (max-width: 767.98px) {
          h1 {
            @include text($text-h1-s, $text-bold, $text-c1-dark);
          }
        }
      }
      .about-right {
        width: 50%;
        opacity: 0;
        animation: fadeIn 0.5s linear 0.5s;
        animation-fill-mode: forwards;
        img {
          width: 100%;
          @media only screen and (max-width: 991.98px) {
            width: 580px;
            height: 580px;
          }
          @media only screen and (max-width: 767.98px) {
            width: 100%;
          }
          @media only screen and (max-width: 575.98px) {
            width: 100%;
          }
        }
      }
      .bg-top {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        // z-index: -1;
        img {
          width: 100%;
        }
      }
      .bg-bottom {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        img {
          width: 100%;
        }
      }
    }
  }

  .teachers {
    position: relative;
    padding-top: 30px;
    .container {
      position: relative;
      z-index: 3;
      background-color: $bg-transparent;
      .teachers-card {
        width: 100%;
        background-color: $bg-transparent;
        .card-top {
          .teacher-1 {
            width: calc(100% / 4);
            padding-right: 30px;
            border-radius: 5px;
            @media only screen and (max-width: 991.98px) {
              width: calc(100% / 2);
            }
            .teacher-all {
              transition: 0.3s;
              &:hover {
                box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
                @include br-1($br-card, $br-card, $br-card, $br-card);
              }
              .teacher-img {
                @include br-1($br-card, $br-card, $br-none, $br-none);
                overflow: hidden;
                img {
                  transform: scale3d(1, 1, 1);
                  width: 100%;
                  transition: 0.5s;
                  &:hover {
                    transform: scale3d(1.05, 1.05, 1.05);
                  }
                }
              }
              .teacher-info {
                background-color: $bg-light;
                text-align: center;
                padding: 30px;
                @include br-1($br-none, $br-none, $br-card, $br-card);
                @media only screen and (max-width: 1199.98px) {
                  padding: 30px 20px;
                }
                p {
                  @include text($text-xxs, $text-semibold, $text-c1-pink);
                  margin-bottom: 6px;
                  line-height: 13px;
                }
                h4 {
                  @include text($text-l, $text-bold, $text-c1-dark);
                  margin-bottom: 15px;
                }
                span {
                  font-size: $text-s-2;
                  line-height: 22px;
                  @media only screen and (max-width: 1199.98px) {
                    font-size: $text-xs;
                  }
                }
              }
            }
          }
          .teacher-2 {
            width: calc(100% / 4);
            padding: 0 20px 0 10px;
            @media only screen and (max-width: 991.98px) {
              width: calc(100% / 2);
            }
            .teacher-all {
              transition: 0.3s;
              &:hover {
                box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
                @include br-1($br-card, $br-card, $br-card, $br-card);
              }
              .teacher-img {
                @include br-1($br-card, $br-card, $br-none, $br-none);
                overflow: hidden;
                img {
                  transform: scale3d(1, 1, 1);
                  width: 100%;
                  transition: 0.5s;
                  &:hover {
                    transform: scale3d(1.05, 1.05, 1.05);
                  }
                }
              }
              .teacher-info {
                background-color: $bg-light;
                text-align: center;
                padding: 30px;
                @include br-1($br-none, $br-none, $br-card, $br-card);
                @media only screen and (max-width: 1199.98px) {
                  padding: 30px 20px;
                }
                p {
                  @include text($text-xxs, $text-semibold, $text-c1-pink);
                  margin-bottom: 6px;
                  line-height: 13px;
                }
                h4 {
                  @include text($text-l, $text-bold, $text-c1-dark);
                  margin-bottom: 15px;
                }
                span {
                  font-size: $text-s-2;
                  line-height: 22px;
                  @media only screen and (max-width: 1199.98px) {
                    font-size: $text-xs;
                  }
                }
              }
            }
          }
          .teacher-3 {
            width: calc(100% / 4);
            padding: 0 10px 0 20px;
            @media only screen and (max-width: 991.98px) {
              width: calc(100% / 2);
              padding: 0 30px 0 0;
            }
            .teacher-all {
              transition: 0.3s;
              &:hover {
                box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
                @include br-1($br-card, $br-card, $br-card, $br-card);
              }
              .teacher-img {
                @include br-1($br-card, $br-card, $br-none, $br-none);
                overflow: hidden;
                img {
                  transform: scale3d(1, 1, 1);
                  width: 100%;
                  transition: 0.5s;
                  &:hover {
                    transform: scale3d(1.05, 1.05, 1.05);
                  }
                }
              }
              .teacher-info {
                background-color: $bg-light;
                text-align: center;
                padding: 30px;
                @include br-1($br-none, $br-none, $br-card, $br-card);
                @media only screen and (max-width: 1199.98px) {
                  padding: 30px 20px;
                }
                p {
                  @include text($text-xxs, $text-semibold, $text-c1-pink);
                  margin-bottom: 6px;
                  line-height: 13px;
                }
                h4 {
                  @include text($text-l, $text-bold, $text-c1-dark);
                  margin-bottom: 15px;
                }
                span {
                  font-size: $text-s-2;
                  line-height: 22px;
                  @media only screen and (max-width: 1199.98px) {
                    font-size: $text-xs;
                  }
                }
              }
            }
          }
          .teacher-4 {
            width: calc(100% / 4);
            padding-left: 30px;
            @media only screen and (max-width: 991.98px) {
              width: calc(100% / 2);
              padding: 0 20px 0 10px;
            }
            .teacher-all {
              transition: 0.3s;
              &:hover {
                box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
                @include br-1($br-card, $br-card, $br-card, $br-card);
              }
              .teacher-img {
                @include br-1($br-card, $br-card, $br-none, $br-none);
                overflow: hidden;
                img {
                  transform: scale3d(1, 1, 1);
                  width: 100%;
                  transition: 0.5s;
                  &:hover {
                    transform: scale3d(1.05, 1.05, 1.05);
                  }
                }
              }
              .teacher-info {
                background-color: $bg-light;
                text-align: center;
                padding: 30px;
                @include br-1($br-none, $br-none, $br-card, $br-card);
                @media only screen and (max-width: 1199.98px) {
                  padding: 30px 20px;
                }
                p {
                  @include text($text-xxs, $text-semibold, $text-c1-pink);
                  margin-bottom: 6px;
                  line-height: 13px;
                }
                h4 {
                  @include text($text-l, $text-bold, $text-c1-dark);
                  margin-bottom: 15px;
                }
                span {
                  font-size: $text-s-2;
                  line-height: 22px;
                  @media only screen and (max-width: 1199.98px) {
                    font-size: $text-xs;
                  }
                }
              }
            }
          }
          @for $i from 0 to 4 {
            .teacher-#{$i + 1} {
              animation-delay: 0.3s * $i;
            }
          }
        }
        .card-bottom {
          .teacher-1 {
            width: calc(100% / 4);
            padding: 40px 30px 0 0;
            @media only screen and (max-width: 991.98px) {
              width: calc(100% / 2);
            }
            .teacher-all {
              transition: 0.3s;
              &:hover {
                box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
                @include br-1($br-card, $br-card, $br-card, $br-card);
              }
              .teacher-img {
                @include br-1($br-card, $br-card, $br-none, $br-none);
                overflow: hidden;
                img {
                  transform: scale3d(1, 1, 1);
                  width: 100%;
                  transition: 0.5s;
                  &:hover {
                    transform: scale3d(1.05, 1.05, 1.05);
                  }
                }
              }
              .teacher-info {
                background-color: $bg-light;
                text-align: center;
                padding: 30px;
                @include br-1($br-none, $br-none, $br-card, $br-card);
                @media only screen and (max-width: 1199.98px) {
                  padding: 30px 20px;
                }
                p {
                  @include text($text-xxs, $text-semibold, $text-c1-pink);
                  margin-bottom: 6px;
                  line-height: 13px;
                }
                h4 {
                  @include text($text-l, $text-bold, $text-c1-dark);
                  margin-bottom: 15px;
                }
                span {
                  font-size: $text-s-2;
                  line-height: 22px;
                  @media only screen and (max-width: 1199.98px) {
                    font-size: $text-xs;
                  }
                }
              }
            }
          }
          .teacher-2 {
            width: calc(100% / 4);
            padding: 40px 20px 0 10px;
            @media only screen and (max-width: 991.98px) {
              width: calc(100% / 2);
            }
            .teacher-all {
              transition: 0.3s;
              &:hover {
                box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
                @include br-1($br-card, $br-card, $br-card, $br-card);
              }
              .teacher-img {
                @include br-1($br-card, $br-card, $br-none, $br-none);
                overflow: hidden;
                img {
                  transform: scale3d(1, 1, 1);
                  width: 100%;
                  transition: 0.5s;
                  &:hover {
                    transform: scale3d(1.05, 1.05, 1.05);
                  }
                }
              }
              .teacher-info {
                background-color: $bg-light;
                text-align: center;
                padding: 30px;
                @include br-1($br-none, $br-none, $br-card, $br-card);
                @media only screen and (max-width: 1199.98px) {
                  padding: 30px 20px;
                }
                p {
                  @include text($text-xxs, $text-semibold, $text-c1-pink);
                  margin-bottom: 6px;
                  line-height: 13px;
                }
                h4 {
                  @include text($text-l, $text-bold, $text-c1-dark);
                  margin-bottom: 15px;
                }
                span {
                  font-size: $text-s-2;
                  line-height: 22px;
                  @media only screen and (max-width: 1199.98px) {
                    font-size: $text-xs;
                  }
                }
              }
            }
          }
          .teacher-3 {
            width: calc(100% / 4);
            padding: 40px 10px 0 20px;
            @media only screen and (max-width: 991.98px) {
              width: calc(100% / 2);
              padding: 0 30px 0 0;
            }
            .teacher-all {
              transition: 0.3s;
              &:hover {
                box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
                @include br-1($br-card, $br-card, $br-card, $br-card);
              }
              .teacher-img {
                @include br-1($br-card, $br-card, $br-none, $br-none);
                overflow: hidden;
                img {
                  transform: scale3d(1, 1, 1);
                  width: 100%;
                  transition: 0.5s;
                  &:hover {
                    transform: scale3d(1.05, 1.05, 1.05);
                  }
                }
              }
              .teacher-info {
                background-color: $bg-light;
                text-align: center;
                padding: 30px;
                @include br-1($br-none, $br-none, $br-card, $br-card);
                @media only screen and (max-width: 1199.98px) {
                  padding: 30px 20px;
                }
                p {
                  @include text($text-xxs, $text-semibold, $text-c1-pink);
                  margin-bottom: 6px;
                  line-height: 13px;
                }
                h4 {
                  @include text($text-l, $text-bold, $text-c1-dark);
                  margin-bottom: 15px;
                }
                span {
                  font-size: $text-s-2;
                  line-height: 22px;
                  @media only screen and (max-width: 1199.98px) {
                    font-size: $text-xs;
                  }
                }
              }
            }
          }
          .teacher-4 {
            width: calc(100% / 4);
            padding: 40px 0 0 30px;
            @media only screen and (max-width: 991.98px) {
              width: calc(100% / 2);
              padding: 0 20px 0 10px;
            }
            .teacher-all {
              transition: 0.3s;
              &:hover {
                box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
                @include br-1($br-card, $br-card, $br-card, $br-card);
              }
              .teacher-img {
                @include br-1($br-card, $br-card, $br-none, $br-none);
                overflow: hidden;
                img {
                  transform: scale3d(1, 1, 1);
                  width: 100%;
                  transition: 0.5s;
                  &:hover {
                    transform: scale3d(1.05, 1.05, 1.05);
                  }
                }
              }
              .teacher-info {
                background-color: $bg-light;
                text-align: center;
                padding: 30px;
                @include br-1($br-none, $br-none, $br-card, $br-card);
                @media only screen and (max-width: 1199.98px) {
                  padding: 30px 20px;
                }
                p {
                  @include text($text-xxs, $text-semibold, $text-c1-pink);
                  margin-bottom: 6px;
                  line-height: 13px;
                }
                h4 {
                  @include text($text-l, $text-bold, $text-c1-dark);
                  margin-bottom: 15px;
                }
                span {
                  font-size: $text-s-2;
                  line-height: 22px;
                  @media only screen and (max-width: 1199.98px) {
                    font-size: $text-xs;
                  }
                }
              }
            }
          }
          @for $i from 0 to 4 {
            .teacher-#{$i + 1} {
              animation-delay: 0.3s * $i;
            }
          }
        }
      }
    }
    .teachersbg-violet {
      position: absolute;
      z-index: 1;
      background-color: $bg-violet;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    .teachersbg-white {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      left: 0;
      img {
        width: 100%;
      }
    }
  }

  .find {
    padding: 60px 0;
    position: relative;
    @media only screen and (max-width: 1199.98px) {
      padding: 52px 0 60px;
    }
    @media only screen and (max-width: 991.98px) {
      padding: 52px 0 0px;
    }

    .container {
      align-items: center;
      .find-left {
        padding-right: 20px;
        .container-img {
          padding: 0 20px;
          img {
            margin: 60px 0 0 95px;
            width: 100%;
            opacity: 0;
            animation: fadeInLeft 0.3s linear 0.2s;
            animation-fill-mode: forwards;
            @media only screen and (max-width: 1199.98px) {
              margin: 10px 0 0 0;
              width: 482px;
              height: 482px;
            }
            @media only screen and (max-width: 575.98px) {
              margin: 10px 0 0 0;
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .find-right {
        // width: 45%;
        // margin-left: 47px;
        @media only screen and (max-width: 991.98px) {
          padding: 50px 0 0 0;
        }
        .findCourse {
          width: 393px;
          height: 500px;
          background-color: $bg-light;
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
          border-radius: $br-card;
          text-align: center;
          padding: 10px 25px 0 25px;
          font-size: $text-xxs;
          margin: 25px 0 0 100px;
          opacity: 0;
          animation: fadeIn 0.5s linear 0.5s;
          animation-fill-mode: forwards;
          @media only screen and (max-width: 1199.98px) {
            margin: 20px 0 10px 60px;
            height: 480px;
          }
          @media only screen and (max-width: 991.98px) {
            width: 100%;
            height: 480px;
            padding: 0 20px !important;
            margin: 0;
            text-align: left;
            box-shadow: $bs-input;
          }

          h1 {
            width: 100%;
            margin: 25px 0 50px;
            font-size: 44px;
            font-weight: 700;
            @media only screen and (max-width: 991.98px) {
              font-size: $text-h1-xs;
            }
          }
          .find-contact {
            .find-two {
              width: 100%;
              @media only screen and (max-width: 767.98px) {
                display: inline-block !important;
              }
              .form-control {
                transition: $tst-5;
                &:focus {
                  @include focus($bd-focus, $bs-focus);
                }
              }
              .input-name {
                width: 45%;
                position: relative;
                @media only screen and (max-width: 767.98px) {
                  width: 100%;
                  margin: 0;
                }
                .name {
                  @include input($br-button, 157px, 44px, $p-find, $text-xxs);
                  margin-right: 15px;
                  @media only screen and (max-width: 991.98px) {
                    width: 98%;
                    margin: 0;
                  }
                  @media only screen and (max-width: 767.98px) {
                    width: 100%;
                    margin: 0;
                  }
                }
                span {
                  position: absolute;
                  @include icon(
                    $text-base,
                    $text-bold,
                    $text-c1-pink,
                    9px,
                    17px
                  );
                  @media only screen and (max-width: 991.98px) {
                    @include icon(
                      $text-xxs,
                      $text-bold,
                      $text-c1-pink,
                      9px,
                      17px
                    );
                  }
                }
              }
              .input-email {
                width: 55%;
                position: relative;
                @media only screen and (max-width: 767.98px) {
                  width: 100%;
                  margin: 0;
                }
                .email {
                  @include input($br-button, 173px, 44px, $p-find, $text-xxs);
                  @media only screen and (max-width: 991.98px) {
                    width: 97%;
                    margin: 0 0 0 10px;
                  }
                  @media only screen and (max-width: 767.98px) {
                    width: 100%;
                    margin: 14px 0 0 0;
                  }
                }
                span {
                  position: absolute;
                  @include icon(
                    $text-base,
                    $text-bold,
                    $text-c1-pink,
                    9px,
                    17px
                  );
                  @media only screen and (max-width: 991.98px) {
                    @include icon(
                      $text-xxs,
                      $text-bold,
                      $text-c1-pink,
                      9px,
                      26px
                    );
                  }
                  @media only screen and (max-width: 767.98px) {
                    left: 16px;
                  }
                }
              }
            }
            .custom-select {
              transition: $tst-5;
              @media only screen and (max-width: 991.98px) {
                width: 100%;
              }
              @include select(
                $text-xxs,
                $text-light,
                $text-c2-dark,
                343px,
                42px,
                15px 0,
                $p-find,
                $br-button,
                $bd
              );
              position: relative;
              background: none;
              &:focus {
                @include focus($bd-focus, $bs-focus);
              }
            }
            .icon-select {
              position: relative;
              width: 100%;
              .graduation {
                position: absolute;
                @include icon($text-base, $text-bold, $text-c1-pink, -51px, 5%);
                @media only screen and (max-width: 1199.98px) {
                  @include icon(
                    $text-base,
                    $text-light,
                    $text-c1-pink,
                    -51px,
                    5%
                  );
                }
                @media only screen and (max-width: 991.98px) {
                  @include icon(
                    $text-xxs,
                    $text-bold,
                    $text-c1-pink,
                    -50px,
                    17px
                  );
                }
              }
              .arrow {
                position: absolute;
                @include icon(
                  $text-base,
                  $text-light,
                  $text-c1-pink,
                  -50px,
                  91%
                );
                @media only screen and (max-width: 1199.98px) {
                  @include icon(
                    $text-base,
                    $text-light,
                    $text-c1-pink,
                    -50px,
                    91%
                  );
                }
                @media only screen and (max-width: 991.98px) {
                  @include icon(
                    $text-base,
                    $text-light,
                    $text-c1-pink,
                    -50px,
                    96%
                  );
                }
              }
            }
            .find-message {
              position: relative;
              @media only screen and (max-width: 991.98px) {
                width: 100%;
              }
              .message {
                transition: $tst-5;
                @include select(
                  $text-xxs,
                  $text-light,
                  $text-c2-dark,
                  343px,
                  90px,
                  0,
                  $p-find,
                  $br-textarena,
                  $bd
                );
                @media only screen and (max-width: 991.98px) {
                  width: 100%;
                }
                &:focus-visible {
                  @include focus($bd-focus, $bs-focus);
                  outline: none;
                }
              }
              span {
                position: absolute;
                @include icon(
                  $text-base,
                  $text-bold,
                  $text-c1-pink,
                  15px,
                  17px
                );
                @media only screen and (max-width: 991.98px) {
                  @include icon(
                    $text-xxs,
                    $text-bold,
                    $text-c1-pink,
                    14px,
                    17px
                  );
                }
              }
            }
            .send {
              position: relative;
              z-index: 1;
              @media only screen and (max-width: 767.98px) {
                width: 100%;
                text-align: center;
              }
              @include button(
                $text-base,
                $text-semibold,
                $text-c1-light,
                $bg-pink,
                8px 53px,
                $bd-button,
                $br-button,
                $text-c1-pink
              );
              margin-top: 65px;
              &::before {
                content: "";
                position: absolute;
                background-color: $bg-light;
                border-radius: $br-button;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0.7, 0);
                transition: all 0.3s ease;
              }
              &:hover::before {
                z-index: -1;
                transform: scale(1, 1);
              }
              @media only screen and (max-width: 991.98px) {
                margin-top: 40px;
              }
            }
          }
        }
      }
      @for $i from 0 to 2 {
        .find-#{$i + 1} {
          animation-delay: 0.3s + $i;
        }
      }
    }
    .find-bg {
      position: absolute;
      bottom: 29px;
      z-index: -1;
      @media only screen and (max-width: 1199.98px) {
        bottom: 34px;
      }
      img {
        width: 100%;
      }
      @media only screen and (max-width: 991.98px) {
        bottom: -14px;
      }
    }
  }

  .footer {
    position: relative;
    // max-width: 1260px;
    margin-top: -30px;
    min-height: 529px;
    background-image: url(../../../img/footer_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 1199.98px) {
      margin-top: -34px;
    }
    @media only screen and (max-width: 991.98px) {
      margin-top: 14px;
      padding-bottom: 150px;
    }
    .footer-bg {
      .container {
        .footer-content {
          padding-top: 120px;
          display: flex;
          @include text($text-xxs, $text-regular, $text-c1-light);
          @media only screen and (max-width: 1199.98px) {
            padding-top: 90px;
          }
          @media only screen and (max-width: 991.98px) {
            padding-bottom: 25px;
          }
          .contactUs {
            padding-right: 40px;
            width: 25%;
            @media only screen and (max-width: 1199.98px) {
              padding-right: 55px;
            }
            h1 {
              @include text($text-l, $text-bold, $text-c1-light);
              margin-bottom: 30px;
            }
            .contact-location {
              @include text($text-xs, $text-regular, $text-c1-light);
              i {
                padding-right: 10px;
              }
              @media only screen and (max-width: 991.98px) {
                @include text($text-xxs, $text-regular, $text-c1-light);
              }
            }
            .contact-phone {
              @include text($text-xs, $text-regular, $text-c1-light);
              i {
                padding-right: 10px;
              }
              @media only screen and (max-width: 991.98px) {
                @include text($text-xxs, $text-regular, $text-c1-light);
              }
            }
            .contact-clock {
              @include text($text-xs, $text-regular, $text-c1-light);
              i {
                padding-right: 10px;
              }
              @media only screen and (max-width: 991.98px) {
                @include text($text-xxs, $text-regular, $text-c1-light);
              }
            }
            .footer-icon {
              margin-top: 15px;
              a {
                @include text($text-s, $text-regular, $text-c1-light);
                padding-right: 15px;
                @media only screen and (max-width: 991.98px) {
                  padding-right: 10px;
                }
                i {
                  &:hover {
                    color: $text-c1-dark;
                  }
                }
              }
            }
          }
          .quickLinks {
            padding: 0 40px;
            width: 25%;
            h1 {
              @include text($text-l, $text-bold, $text-c1-light);
              margin-bottom: 30px;
            }
            .quick-content {
              ul {
                list-style: none;
                li {
                  @include list($p-footer, $bd-footer, 0);
                  a {
                    @media only screen and (max-width: 991.98px) {
                      @include text($text-xxs, $text-regular, $text-c1-light);
                    }
                    @extend .list-item;
                  }
                }
              }
            }
          }
          .footer-about {
            padding: 0 40px;
            width: 25%;
            h1 {
              @include text($text-l, $text-bold, $text-c1-light);
              margin-bottom: 30px;
            }
            .about-content {
              ul {
                list-style: none;
                li {
                  @include list($p-footer, $bd-footer, 0);
                  a {
                    @media only screen and (max-width: 991.98px) {
                      @include text($text-xxs, $text-regular, $text-c1-light);
                    }
                    @extend .list-item;
                  }
                }
              }
            }
            @media only screen and (max-width: 991.98px) {
              padding: 30px 55px 0 15px;
            }
          }
          .newsLetter {
            padding-left: 40px;
            width: 25%;
            margin-bottom: 30px;
            h1 {
              @include text($text-l, $text-bold, $text-c1-light);
              margin-bottom: 45px;
            }
            .footer-button {
              @media only screen and (max-width: 991.98px) {
                @include text($text-xxs, $text-regular, $text-c1-light);
              }
              .yourEmail {
                @media only screen and (max-width: 1199.98px) {
                  width: 100%;
                }
                width: 100%;
                margin-bottom: 8px;
                @include input($br-button, 240px, 48px, 0, $text-s);
                text-align: center;
                background-color: $bg-transparent;
                border: $bd-inputbtn;
                color: $text-c1-light;
                &::placeholder {
                  color: $text-c1-light;
                }
                &:focus-visible {
                  border: 1px solid rgba(255, 255, 255, 1);
                  outline: none;
                }
              }
              .subcribe {
                position: relative;
                width: 100%;
                margin-right: 19px;
                z-index: 1;
                @media only screen and (max-width: 1199.98px) {
                  margin-right: 0;
                }
                @include button(
                  $text-s,
                  $text-regular,
                  $text-c1-dark,
                  $bg-light,
                  9px 19px,
                  $bd-btn-footer,
                  $br-button,
                  $text-c1-light
                );
                &::before {
                  content: "";
                  position: absolute;
                  background-color: $bg-pink;
                  border-radius: $br-button;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  transform: scale(0.7, 0);
                  transition: all 0.3s ease;
                }
                &:hover {
                  border: $bd-btn-footer;
                }
                &:hover::before {
                  z-index: -1;
                  transform: scale(1, 1);
                }
              }
            }
            @media only screen and (max-width: 991.98px) {
              padding: 30px 55px 0 15px;
            }
          }
          @for $i from 0 to 4 {
            .footer-#{$i + 1} {
              animation-delay: 0.3s * $i;
            }
          }
        }
      }
    }
  }
  .sideBar {
    display: none;
    @media only screen and(max-width:1199.98px) {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      background-color: $bg-light;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      .sideBar-logo {
        width: 100%;
        margin-bottom: 27px;
      }
      .side-ul {
        list-style: none;
        width: 100%;
        .side-li {
          width: 100%;
          &:nth-of-type(1) {
            a {
              font-weight: $text-bold;
            }
          }
          a {
            @include text($text-s, $text-light, $text-c1-dark);
            text-decoration: none;
            padding: 7px 0;
            &:hover {
              color: $text-c1-pink;
            }
          }
          .li-icon {
            height: 0;
            font-size: $text-xxs;
            i {
              position: relative;
              top: -32px;
              left: 35%;
            }
          }
        }
      }
      .form-inline-side {
        overflow: hidden;
        width: 100%;
        margin-left: 14px;
        justify-content: center;
        .nav-phone-side {
          width: 65%;
          @include button(
            $text-s,
            $text-semibold,
            $text-c1-light,
            $bg-pink,
            14px 20px,
            2px solid $text-c1-pink,
            $br-button,
            $text-c1-pink
          );
          position: relative;
          line-height: 1;
          overflow: hidden;
          z-index: 1;
          margin: 20px 0 3px 0;
          &::before {
            content: "";
            position: absolute;
            background-color: $bg-light;
            border-radius: $br-button;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scale(0.7, 0);
            transition: all 0.3s ease;
          }
          &:hover {
            color: $text-c1-pink;
          }
          &:hover::before {
            z-index: -1;
            transform: scale(1, 1);
          }
        }
        .nav-socials-side {
          width: 100%;
          a {
            @include text($text-base, $text-regular, $text-c1-dark);
            margin-left: 7px;
            &:hover {
              color: $text-c1-pink;
            }
          }
        }
      }
    }
  }
  .sideBar.show {
    @media only screen and (max-width: 1199.98px) {
      width: 320px;
      padding-top: 0;
    }
  }
}

.mainPage.show {
  @media only screen and (max-width: 1199.98px) {
    left: 320px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-86px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    top: -48px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeDownUp {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0;
    transform: translateY(-86px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
